@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

.carousel-container{
   margin-left: 5%;
   margin-right: 5%;
   font-family: Montserrat, sans-serif;
   color: white;
}

.carousel-img{
    
    height:250px;
    width:150px;
    border-radius: 5%;
}



.swiper-slide{
  padding:20px;
}
